body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
h1{
    font-size: 50px;
    .orange-color{
        color: orange;
    }
  
    }

.hero-learner{
    color: orange;
}

.small-font{
    font-size: 40px;
}
.flexsible-container{
    display:flex;
    margin-top: 0px;
    margin-bottom: 10px;
    background-image: url(image/high-impact-login.png);
    background-repeat: no-repeat;
    

}

.half-width{
    padding-left: 2%;

    

}
.paragraph-area{
    box-shadow: 10px 10px 40px grey;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    border-radius: 10px;
 
}


.click-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: azure;
    padding: 10px 30px;
    font-weight: 800;
    border-radius: 5px;

}
.top-banner{
    background-image: url(image/topp-baner\ half-red-conner-1.png);
    background-repeat: no-repeat;
    
   
}
.dream-area{
    background-image: url(image/circle-background.png);
    background-repeat: no-repeat;
    background-position: right;
}
#full-stack{
   border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}
#exp-padd{
    padding-left: 15px;
}